<div class="body">
  <div class="box1">
    <div class="c">
      <p>Children</p>
      <!-- <a [routerLink]='["/"]'><img src='/assets/img/s3.jpg' alt=""></a> -->
    </div>
    <div class="f">
        <p>Fun</p>
      <!-- <a [routerLink]='["/"]'><img src='/assets/img/1.jpg' alt=""></a> -->
    </div>
  </div>
  <div class="box2">
    <div class="sp">
     <p>Senior Portraits</p>
      <!-- <a [routerLink]='["/"]'><img src='/assets/img/M3.4.jpg' alt=""></a> -->
    </div>
    <div class="fa">
      <p>Family</p>
      <!-- <a [routerLink]='["/"]'><img src='/assets/img/Mika8.2.jpg' alt=""></a> -->
    </div>
  </div>
</div>